html {
  font-size: 1rem;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  color: #333;
  margin: 0;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 34px;
    line-height: 1.1;
  }
}

#img {
  max-width: 100%;
  align-items: center;
}
img {
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}
  
@media (max-width: 460px) {
  #img-caption {
      font-size: 1.4rem;
  }
}

h2 {
  font-size: 3.25rem;
}

a {
  color: #477CA7;
}

a:visited {
  color: #74638F;
}

#main {
  margin: 35px 10px;
  padding: 15px;
  border-radius: 5px;
  background: #EEEEEE;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}
